
.channel {
    font-size: x-large;
    color: #383d41;
    font-weight: bold;
}

.channel-name {
  font-size: medium;
}


.amount-users {
    font-size: x-large;
    color: #383d41;
    font-weight: bold;
}


.button-align {
  display: flex;
  justify-content: center; 
  align-items: center;
}


.padding-border {
    padding: 13px !important;
}

.break-line {
  word-break: break-all;
}
.header-typing {
  position: absolute;
  left: 0;
  bottom: 0;
  transform: rotate(180deg);
  text-align: center;
  width: 100%;
  display: table;
  height: 50px;
  z-index: 1;
}

.typing-badge {
  padding: 10px 20px !important;
  margin-top: 20px;
  vertical-align: middle;
  background-color: #4b6b8e !important;
}