
.text-small {
  font-size: 0.9rem;
}


.rounded-lg {
  border-radius: 0.5rem;
}

.message{
  transform: rotate(180deg);
}

input::placeholder {
  font-size: 0.9rem;
  color: #999;
}

.isSender {
  text-align: left;
  width: 50%;
}

.isReceiver {
  text-align: right;
  width: 50%;
}

.media-body> span{
  font-size: 16px;
  font-weight: 900;
}