<form name="myForm" class="form-signin" ng-submit="signinCtrl.submit()">
    <div class="text-center mb-4">
        <h1 class="h4 mb-3 font-weight-normal">Escolha seu Avatar</h1>

        <app-carrousel image-selected="signinCtrl.imageSelected"></app-carrousel>
        <h1 class="h3 mb-3 font-weight-normal">WebChat Test Postgrain</h1>
        <p>Aplicação para avalição técnica
        </p>
    </div>

    <div class="form-label-group">
        <input type="text" id="inputName" ng-model="signinCtrl.username" class="form-control" placeholder="Username"
            required minlength="2" name='inputName'
            style="background-image: url(&quot;data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAASCAYAAABSO15qAAAAAXNSR0IArs4c6QAAAPhJREFUOBHlU70KgzAQPlMhEvoQTg6OPoOjT+JWOnRqkUKHgqWP4OQbOPokTk6OTkVULNSLVc62oJmbIdzd95NcuGjX2/3YVI/Ts+t0WLE2ut5xsQ0O+90F6UxFjAI8qNcEGONia08e6MNONYwCS7EQAizLmtGUDEzTBNd1fxsYhjEBnHPQNG3KKTYV34F8ec/zwHEciOMYyrIE3/ehKAqIoggo9inGXKmFXwbyBkmSQJqmUNe15IRhCG3byphitm1/eUzDM4qR0TTNjEixGdAnSi3keS5vSk2UDKqqgizLqB4YzvassiKhGtZ/jDMtLOnHz7TE+yf8BaDZXA509yeBAAAAAElFTkSuQmCC&quot;); background-repeat: no-repeat; background-attachment: scroll; background-size: 16px 18px; background-position: 98% 50%; cursor: pointer;">
        <label for="inputEmail">Username</label>
    </div>


    <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
    <!-- <a href='' ng-click="signinCtrl.processLogin(true)">Continue with default username</a> -->
    <!-- <p>{{signinCtrl.info}}</p> -->

    <p class="mt-5 mb-3 text-muted text-center">© 2020</p>
</form>