<div class="d-flex bd-highlight">

    <div class="p-2 bd-highlight">
        <div class="d-flex flex-column bd-highlight mb-3">
            <div class="bg-gray px-4 py-2 bd-highlight">
                <p class="h5 mb-0 py-1">Canais Disponiveis {{chatCtrl.channels.length}}</p>
            </div>
            <!-- Channels box-->
            <div class="p-2 bd-highlight">
                <div class="d-flex bd-highlight">
                    <div class="p-2 flex-fill bd-highlight">
                        <form class="form-inline mt-2 mt-md-0">
                            <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
                            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                        </form>
                    </div>

                    <div class="p-2 flex-fill bd-highlight">
                        <form class="form-inline mt-2 mt-md-0" ng-submit="chatCtrl.registerChannel()">
                            <input class="form-control mr-sm-2" type="text" ng-model="chatCtrl.newChannel"
                                placeholder="New channel" aria-label="New Channel">
                            <button class="btn btn-default" type="submit">Addcionar</button>
                        </form>
                    </div>
                </div>

                <div class="messages-box">
                    <div class="list-group rounded-0" ng-repeat="channel in chatCtrl.channels">

                        <div class="list-group-item list-group-item-action list-group-item-light rounded-0">
                            <app-channel-card channel="channel"></app-channel-card>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Users box-->

            <div class="p-2 bd-highlight">
                <div class="bg-gray px-4 py-2 bg-light">
                    <p class="h5 mb-0 py-1">Usuários no chat {{chatCtrl.users.length}}</p>
                </div>

                <div class="messages-box">
                    <div class="list-group rounded-0">
                        <a class="list-group-item list-group-item-action rounded-0" ng-repeat="user in chatCtrl.users">
                            <app-user-card user="user"></app-user-card>
                        </a>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <!-- Chat Box-->
    <div class="p-2 flex-grow-1 bd-highlight">
        <div class="px-4 py-5 chat-box bg-white">
            <app-message-box message="message" ng-repeat="message in chatCtrl.messages"></app-message-box>
        </div>

        <!-- Typing area -->
        <form class="form-inline mt-2 mt-md-0" ng-submit="chatCtrl.send()">
            <input class="form-control mr-sm-2" type="text" ng-model="chatCtrl.message.text" placeholder="Message"
                aria-label="Message">
            <button class="btn btn-default" type="submit">send</button>
        </form>

    </div>
</div>