::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  width: 5px;
  background: #f5f5f5;
}

::-webkit-scrollbar-thumb {
  width: 1em;
  background-color: #ddd;
  outline: 1px solid slategrey;
  border-radius: 1rem;
}

.text-small {
  font-size: 0.9rem;
}

.messages-box {
  height: 84vh;
  overflow-y: scroll;
}

.channel-box {
  height: 79vh;
  overflow-y: scroll;
}

.chat-box {
  background-image: url(https://mir-s3-cdn-cf.behance.net/project_modules/disp/2d9dd173426833.5c08f5634ff45.png);
  height: 89vh;
  overflow-y: scroll;
  transform: rotate(180deg);
}

.rounded-lg {
  border-radius: 0.5rem;
}

input::placeholder {
  font-size: 0.9rem;
  color: #999;
}

.full-height {
  height: 100%;
}

.pb-0 {
  padding-bottom: 0px;
}


